.Cart{
    text-align: center;
    margin-top:10rem;
    background-color: rgb(196, 192, 192);
    width: 30% center;
    height:40vh;
}
li{
    display:table-column;
}
#list{
    color:rgb(156, 163, 32)
}
